@import "tailwindcss";

:root {
    font-family: 'Noto Sans';
}

.header {
    background-image: url("/header.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}

.footer {
    background-image: url("/footer.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}

.body {
    background-image: url("/body.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}