@import "tailwindcss";

:root {
    font-family: 'Noto Sans';
}

.header {
    background-image: url("/images/background/header.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}

.footer {
    background-image: url("/images/background/footer.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}

.body {
    background-image: url("/images/illustrations/body.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}

#login-page {
    background-image: url("/images/background/fondo-main.png");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}